[Unit]
Description=KOSMOS Deployment Profile (%i)
Wants=network-online.target
Requires=kosmos-db@%i.service
Requires=kosmos-api@%i.service
Requires=kosmos-web@%i.service
After=network-online.target
After=kosmos-db@%i.service
After=kosmos-api@%i.service

[Install]
WantedBy=multi-user.target
